* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }
  
  body {
    background-color: #f9f7f7;
  }
  
  .key::selection {
    background-color: transparent;
  }
  
  .container {
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
  }
  
  textarea {
    padding: 1%;
    width: 80vw;
    height: 35vh;
    margin-bottom: 3%;
    border-radius: 15px;
    font-size: 24px;
  }
  
  .keyboard {
    width: 80vw;
    height: 50vh;
    background-color: #fffafa;
    border-radius: 15px;
    padding: 3% 2%;
    font-size: 0.8rem;
    border: 2px solid #6d6d6d;
    box-shadow: 0px 2px 6px #313131;
    transform: translateY(0);
    transition-duration: 0.4s;
  }
  
  .keyboardRow {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .key {
    width: 6%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f1f0f0;
    border: 1px solid #4d4d4d;
    box-shadow: 0px 2px 4px #313131;
    color: #0b0b0b;
    cursor: default;
  }
  
  .char {
    font-size: 0.9rem;
  }
  
  .lighting {
    color: #f30404;
    text-shadow: #c95858 0px 0px 3px;
    box-shadow: #c61111 0px 2px 4px;
  }
  
  .key:hover {
    background-color: #a9a7a6;
  }
  
  .key:active {
    box-shadow: none;
    transform: translateY(1px);
  }
  
  .lighting:active {
    box-shadow: 0px 2px 6px #b3b3b3;
    transform: translateY(0) scale(0.98) ;
  }
  
  .back, .tab {
    width: 9%;
  }
  
  .caps, .enter {
    width: 10%;
  }
  
  .shift {
    width: 13.5%;
  }
  
  .space {
    width: 42%;
  }
  
  .line-through {
    position: relative;
  }
  
  .line-through::before {
    content: "";
      border-bottom: 2px solid #dfdfdf;
      position: absolute;
      width: 25%;
    top: 45%;
    left: 38%;
      transform: rotate(40deg);
  }
  
  .on {
    color: #00ff00;
    text-shadow: #00ff00 0px 0px 5px;
    box-shadow: #00ff00 0px 2px 10px;
  }
  
  @media (max-width: 600px) {
    .keyboard {
      width: 95vw;
      font-size: 0.7rem;
      height: 40vh;
    }
  
    textarea {
      width: 95vw;
    }
  }